.main-header {
  @extend %centered;
  background: linear-gradient($color-prim, transparent 90%),
              linear-gradient(0deg, $color-body, transparent),
              $color-prim url('#{$path-img}/mountains.jpg') no-repeat center / cover;
  padding-top: 170px;
  height: 850px;
  text-shadow: 0 0 5px $color-shadow-header;

  @media #{$break-narrow} {
    max-height: 380px;
    padding: 50px 25px 0;
  }
}